<VirtualHost *:80>
  ServerAdmin webmaster@@hostname@
  ServerName @name@.@hostname@

  ErrorLog /var/log/apache2/@name@-error.log
  CustomLog /var/log/apache2/@name@-access.log combined

  HostnameLookups Off
  UseCanonicalName On
  ServerSignature On

  DocumentRoot @datadir@/@name@
  <Directory @datadir@/@name@>
    # Options Indexes FollowSymLinks
    Options FollowSymLinks
    AllowOverride None

    Order allow,deny
    Allow from all
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  </Directory>

  # point at the wsgi loader script
  WSGIScriptAlias / @datadir@/@name@/wsgi.py

  # directly serve static files like css and images, no need to go through mod_wsgi and django
  Alias /assets @datadir@/@name@/static
  <Directory @datadir@/@name@/static>
    Order deny,allow
    Allow from all
  </Directory>

  # Allow downloading translation files directly
  Alias /export @varlib@/@name@/po
  <Directory @varlib@/@name@/po>
    Order deny,allow
    Allow from all
  </Directory>

  # Deny access to Git API
  <Location /gitapi>
    Order Deny,Allow
    Deny from all
    Allow from 172.16.17.0/255.255.255.0
    Allow from 172.16.18.0/255.255.255.0
  </Location>

</VirtualHost>
